# Godot 4+ specific ignores
.godot/
*.uid

# Ignore generated library files
bin/

.sconsign*.dblite


gen/
godot-cpp/gen/

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.a

# Other stuff
*.log
cython_debug/

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store

# Python
/venv
__pycache__/*
!__pycache__/.gdignore
