# Misc
logs/*
*.egg-info
__pycache__
.DS_Store

# Binaries
*.a
*.o
*.os
*.so
*.obj
*.pyc
*.pyd
*.dblite
*.pdb
*.lib
*.exp
bin
*.config
*.creator
*.creator.user
*.files
*.includes

# Build files
.eggs/
/build
/dist
/godopy-venv
/godopy-*-venv
