[submodule "deps/python"]
	path = deps/python
	url = https://github.com/python/cpython.git
	branch = 3.8
[submodule "deps/cython"]
	path = deps/cython
	url = https://github.com/cython/cython.git
	branch = master
