[configuration]

entry_symbol = "godopy_library_init"
compatibility_minimum = "{{ api_header['version_major'] }}.{{ api_header['version_minor'] }}"

[libraries]
{% if env['dev_build'] %}
{# Single dev library for development and debugging #}
{{ env['platform'] }}.debug.x86_64 = "res://bin/{{ env['platform'] }}/{{ libname }}{{ env['suffix'] }}{{ env['SHLIBSUFFIX'] }}"
{% else %}
{% for platform, dllsufix in [('windows', 'dll'), ('linux', 'so')]%}
{{ platform }}.debug.x86_64 = "res://bin/{{ platform }}/{{ libname }}.{{ platform }}.template_debug.x86_64.{{ dllsufix }}"
{{ platform }}.release.x86_64 = "res://bin/{{ platform }}/{{ libname }}.{{ platform }}.template_release.x86_64.{{ dllsufix }}"
{% endfor %}
{% endif %}
