/_cpp_bindings.pxd
/_cython_bindings.*
/_python_bindings.*

/cpp/core.pxd
/cpp/tools.pxd
/cpp/nodes.pxd
/cpp/resources.pxd

/cython/__icalls.pxd
/cython/core.pxd
/cython/tools.pxd
/cython/nodes.pxd
/cython/resources.pxd

/python/__icalls.pxd
/python/core.py
/python/tools.py
/python/nodes.py
/python/resources.py
